[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.6"
pillow = "==9.4.0"
psycopg2-binary = "==2.9.5"
environs = "==9.5.0"
django-crispy-forms = "==1.14.0"
django-ckeditor = "*"
whitenoise = "==6.3.0"
gunicorn = "==20.1.0"

[dev-packages]

[requires]
python_version = "3.10"
