<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/perfect-scrollbar.min.js"></script>
<script src="/static/js/smooth-scrollbar.min.js"></script>
<script src="/static/js/dark-mode-handler.js"></script>
<script src="/static/js/chartjs.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/main.min.js"></script>
<script async="" defer="" src="/static/js/buttons.js"></script>
<script src="/static/js/dashboard.min.js"></script>
<script src="/static/js/scripts.js"></script>
