<link rel="icon" type="image/png" href="/static/img/favicon.png">
<link href="/static/css/main.css" rel="stylesheet">
<link href="/static/css/min.css" rel="stylesheet">
<link href="/static/css/index.css" rel="stylesheet">
<link href="/static/css/nucleo-icons.css" rel="stylesheet">
<link href="/static/css/nucleo-svg.css" rel="stylesheet">
<script src="/static/js/min.js" crossorigin="anonymous"></script>
<link id="pagestyle" href="/static/css/dashboard.css" rel="stylesheet">
<link id="pagestyle_dark" href="/static/css/dark-theme-core.css" rel="stylesheet">