<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" type="image/png" href="/static/base_files/a-logo.png">
<title>
  Universities Clubs {% block title %}{% endblock %}
</title>
<link href="/static/assets/css" rel="stylesheet">
<link href="/static/assets/nucleo-icons.css" rel="stylesheet">
<link href="/static/assets/nucleo-svg.css" rel="stylesheet">
<link href="/static/assets/nucleo-svg.css" rel="stylesheet">
<link id="pagestyle" href="/static/assets/soft-ui-dashboard.css" rel="stylesheet">
<script src="/static/assets/42d5adcbca.js" crossorigin="anonymous"></script>