<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 border-radius-xl shadow-none position-sticky mt-4 top-1 z-index-sticky " id="navbarBlur" data-scroll="true">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="nav-item px-3 d-flex align-items-center">
                <div class="dropdown float-lg-end pe-4">
                  <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-ellipsis-v text-secondary" aria-hidden="true"></i>
                  </a>
                  <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                    {% if request.user.is_authenticated %}
                    <li class="p-1">
                      <a class="dropdown-item border-radius-md p-2" href="#">
                          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                          <!-- <img src="/static/assets/team-2.jpg" class="avatar avatar-sm  me-3 " alt="user image"> -->
                          {{user.first_name | title}} {{user.last_name | title}}
                      </a>
                    </li>
                    <li class="p-2"><a class="dropdown-item border-radius-md" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li class="p-2"><a class="dropdown-item border-radius-md" href="#">Action</a></li>
                    <li class="p-2"><a class="dropdown-item border-radius-md" href="{% url 'login' %}">Login</a></li>
                    <li class="p-2"><a class="dropdown-item border-radius-md" href="{% url 'accounts:signup' %}">Sign Up</a></li>
                    {% endif %}
                  </ul>
                </div>
            </li>
          </ol>
      </nav>
      <div class="sidenav-toggler sidenav-toggler-inner d-xl-block d-none ">
        <a class="nav-link p-0 text-body cursor-pointer">
          <div class="sidenav-toggler-inner">
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
          </div>
        </a>
      </div>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
        <div class="ms-md-auto pe-md-3 d-flex align-items-center">
          <div class="input-group">
          </div>
        </div>
        <ul class="navbar-nav  justify-content-end">    
          <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
            <a class="nav-link p-0 text-body" id="iconNavbarSidenav">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
              </div>
            </a>
          </li>
          <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="{% url 'accounts:signup' %}" class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                <span class="d-sm-inline d-none me-3">Sign In</span>
              </a>
          </li>
          <li class="nav-item px-3 d-flex align-items-center">
              <a href="#" class="nav-link text-body p-0">
                <i class="fa fa-bookmark" aria-hidden="true"></i>
              </a>
          </li>
          <li class="nav-item px-3 d-flex align-items-center">
              <label for="theme-switch" class="nav-link text-body p-0 m-0">
                <i class="fa fixed-plugin-button-nav cursor-pointer fa-sun" id="dark-version" onclick="darkMode(this)" checked="true" aria-hidden="true"></i>
              </label>
          </li>
        </ul>
      </div>
    </div>
</nav>