<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>
      Dashboard - {% block title %}{% endblock %}
    </title>
    
    {% include 'includes/links.html' %}
  </head>
<body class="g-sidenav-show bg-gray-100">
{% include 'aside.html' %}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ps ps--active-y">
        
  {% include 'navbar.html' %}

  {% block content %}{% endblock content %}
  
</main>
  {% include 'includes/conf.html' %}

  {% include 'includes/js.html' %}
</body>
</html>