{% load static %}
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>
      Universities Clubs - {% block title %}{% endblock %}
    </title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/static/base_dir/a-logo.png">
    <link href="/static/base_dir/css" rel="stylesheet">
    <link href="/static/base_dir/nucleo-icons.css" rel="stylesheet">
    <link href="/static/base_dir/nucleo-svg.css" rel="stylesheet">
    <script src="/static/base_dir/42d5adcbca.js" crossorigin="anonymous"></script>
    {% include 'style_base.html' %}
    <link href="/static/base_dir/nucleo-svg.css" rel="stylesheet">
    <link id="pagestyle" href="/static/base_dir/soft-ui-dashboard.css" rel="stylesheet">
    <link id="pagestyle_dark" href="/static/base_dir/dark-theme-core.css" rel="stylesheet">

</head>
<body class="dark-page">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg blur blur-rounded top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
    <div class="container-fluid pe-0">
      <a class="navbar-brand m-0" href="/">
        <img src="/static/base_files/a-logo.png" width="30px" height="30px" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold">U n i v e r s i t i e s  C l u b s</span>
      </a>
      <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon mt-2">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </span>
      </button>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav mx-auto ms-xl-auto">
          
          <li class="nav-item">
            <a class="btn btn-sm btn-round mb-0 me-1 bg-gradient-dark" aria-current="page" href="/">
              <i class="fa fa-chart-pie opacity-6 me-1" aria-hidden="true"></i>
              Dashboard
            </a>
          </li>

          <li class="nav-item">
            <label for="theme-switch" class="btn btn-sm btn-round mb-0 me-1 bg-gradient-dark">
              <i class="fa cursor-pointer opacity-6 px-1 fa-sun" id="theme-indicator" aria-hidden="true"></i>
              Theme
            </label>
            <input type="checkbox" class="d-none" id="theme-switch">
          </li>
          
        </ul>

        <ul class="navbar-nav d-lg-block d-none">
          <li class="nav-item">
            <a href="#" class="btn btn-sm btn-round mb-0 me-1 bg-gradient-dark">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->

  <main class="main-content mt-0 ps">
    <section>
        {% block content %}{% endblock content %}
    </section>
  <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></main>

  <!-- -------- START FOOTER  ------- -->
    <footer class="footer py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mb-4 mx-auto text-center">
            <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
              Company
            </a>
            <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
              About Us
            </a>
            <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
              Team
            </a>
            <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
              Products
            </a>
            <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
              Blog
            </a>
            <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
              Pricing
            </a>
          </div>
          <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
            <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
              <span class="text-lg fab fa-dribbble" aria-hidden="true"></span>
            </a>
            <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
              <span class="text-lg fab fa-twitter" aria-hidden="true"></span>
            </a>
            <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
              <span class="text-lg fab fa-instagram" aria-hidden="true"></span>
            </a>
            <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
              <span class="text-lg fab fa-pinterest" aria-hidden="true"></span>
            </a>
            <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
              <span class="text-lg fab fa-github" aria-hidden="true"></span>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-8 mx-auto text-center mt-1">
            <p class="mb-0 text-secondary">
              © <a href="" class="text-muted" target="_blank">Creative Tim</a> - coded by AppSeed.
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- -------- END FOOTER ------- -->



  

<script src="/static/base_dir/popper.min.js"></script>
<script src="/static/base_dir/bootstrap.min.js"></script>
<script src="/static/base_dir/perfect-scrollbar.min.js"></script>
<script src="/static/base_dir/smooth-scrollbar.min.js"></script>
<script src="/static/base_dir/dark-mode-handler.js"></script>


  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>

  <!-- Github buttons -->
  <script async="" defer="" src="/static/base_dir/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/static/base_dir/soft-ui-dashboard.min.js"></script>



</body></html>