{% extends "base.html" %}
{% load static %}
{% block title %} Home {% endblock %} 

{% block content %}


<div class="card mt-5 p-5">
    <div>
        <div class="p-5">
            <div>
                <h6>
                    Projects Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Enim quam nulla reiciendis saepe sint dolorem quod sed amet beatae 
                    cum quo voluptates blanditiis, illo facilis explicabo! Dolore nihil 
                    aliquam nostrum. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                     Illo, aut nam maxime accusamus, nihil ea deleniti eaque expedita quas 
                     magni natus libero non ullam rerum, in repellendus temporibus voluptas 
                     inventore?
                </h6>
                <p class="text-sm mb-0">
                <i class="fa fa-check text-info" aria-hidden="true"></i>
                <span class="font-weight-bold ms-1">30 done</span> this month
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}